<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2022</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology</div>
               <h4 class="category">Madhav Institute of Technology and Science
               </h4>
               <ul>
                <li><b>Gwalior, Madhya Pradesh</b></li>
                <li>Completed B.Tech in CE with <b>7.2 CGPA</b>.</li>
                
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2018</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Kendriya Vidhyalaya 1STC
               </h4>
               <ul>
                <li><b>Jabalpur, Madhya Pradesh</b></li>
                                <li>
                                      Completed my high school with<b> 70%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2016</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Kendriya Vidhyalaya IMA
               </h4>
               <ul>
                <li><b>Dehradun, Uttrakhand</b></li>
               
                <li>
                    Completed my Secondary school with <b>9.0 CGPA.</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>