<app-header></app-header>
<div class="page-content">
    <app-intro></app-intro><!--INTRO COMPLETE-->
    <app-about></app-about><!--ABOUT COMPLETE-->
    <app-experience></app-experience><!--EXP COMPLETE-->
    <app-skills></app-skills><!--Skills Complete-->
    <app-education></app-education>
    <app-certification></app-certification>
    <!-- <app-extra-ciricular></app-extra-ciricular>  -->
     <!-- <app-project></app-project>
    
     -->

    <!-- <app-portfolio></app-portfolio> -->
   
    <app-contact></app-contact>
</div>
<app-footer></app-footer> <!--FOOTER COMPLETE-->