<app-header></app-header>
<div class="page-content">
    <app-intro></app-intro><!--INTRO COMPLETE-->
    <app-about></app-about><!--ABOUT COMPLETE-->
    <app-experience></app-experience>
    <!-- <app-extra-ciricular></app-extra-ciricular>  -->
     <!-- <app-project></app-project>
    <app-skills></app-skills>
    <app-education></app-education> -->

    <!-- <app-portfolio></app-portfolio> -->
    <!-- <app-reference></app-reference> -->
    <app-contact></app-contact>
</div>
<app-footer></app-footer> <!--FOOTER COMPLETE-->